.dialog-window {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* top: 0;
  left: 0; */
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}

.hide {
  display: none;
}

